.nav-container{
    height: 60px;
    background-color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: white;
    font-size: 25px;
    text-shadow: 0 0 2px;
    font-family: Arial, Helvetica, sans-serif;
}